.parent{
    background-color: aqua;
    width: 50%;
    height: 44vi;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25%;
}
.container {
    border: 2px solid lavender;
    background-color: #fff;
    width: 70%;
}
.inputs {
    padding: 0 10%;
}
.button {
    background-color: blue; 
    color: #fff; 
    text-align: center; 
    width: 100%;
    margin: 20px 0;
    padding: 5px;
}